<div class="row text-center">
  <div class="large-4 columns">
    <label><h3>Name</h3>
      </label>
  </div>
  <div class="large-8 columns">
    <label><h3>Skills</h3>
      </label>
  </div>
</div>

<div class="row text-center">

  <div class="large-4 columns">
    <input type="text" placeholder="Michael Jordan" />
  </div>

  <div class="large-8 columns">
    <div *ngFor="let skill of skillsList; let lastItem = last" class="large-3 columns" [ngClass]="{'end':lastItem}">
      <label for="checkbox1" title="{{skill.description}}">{{skill.name}}</label><input id="checkbox1" type="checkbox">
    </div>
  </div>

</div>